:root{
  --body-colour: #CDF5FD;
  --highlight: #A0E9FF;
  --main-pop: #89CFF3;
  --header: #00A9FF;
}

* {
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--body-colour);
}

h1,
h2,
h3 {
  text-align: center;
}

header div{
    background-color: var(--highlight);
    padding: 2vh;
    margin-bottom: 2vh;
}
 
li {
  list-style: none;
}

ul{
  padding-top: 1vh;
}

input,
button{
  width: 200px;
  margin: 1vh;
}

button{
  background-color: var(--header);
  color: white;
}

hr{
  border: none;
  background-color: black;
  height: 2px;
}

.weatherDay{
    background-color: var(--main-pop);
    margin: 2vh;
    width: 13vw;
  }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "search current-day current-day current-day current-day current-day"
    "search day0 day1 day2 day3 day4";
}

.search {
  grid-area: search;
  background-color: var(--body-colour);
  margin-right: 1vw;
}

.current-day {
  grid-area: current-day;
  background-color: var(--body-colour);
}

.day0 {
  grid-area: day0;
}

.day1 {
  grid-area: day1;
}

.day2 {
  grid-area: day2;
}

.day3 {
  grid-area: day3;
}

.day4 {
  grid-area: day4;
}